/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#container {
  width: 90%;
  max-width: 1000px;
  min-height: 100vh;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product {
  width: 100%;
  min-height: 40vh;
  border: 2px solid #34b1eb;
  border-radius: 5px;
}

h1 {
  font-size: 12px;
  padding: 10px;
  background: #34b1eb;
  color: #fff;
}

.input-container,
.input-button,
table {
  margin: 20px 10px;
}

h2 {
  font-size: 12px;
}

input {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #eeeee4;
  width: 970px;
}

.input-button button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.input-button button:first-child {
  background-color: #00cc00;
}

.input-button button:last-child {
  background-color: #ffa31a;
}

.input-arrow {
  display: inline-block;
  position: relative;
}

.arrow-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.arrow-buttons button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
  margin-right: 2px;
}

.arrow-buttons button:first-child {
  margin-top: 2px;
}

#name {
  background-color: #ffffb3;
}

#total-price {
  background-color: #eeeeee;
}

table {
  border-collapse: collapse;
  border: 1px solid #f2efe5;
  width: 970px;
  font-size: 13px;
}

th,
td {
  border: 1px solid #f2efe5;
  text-align: left;
  padding: 10px 10px 10px 5px;
}

td button {
  width: 100%;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

td p{
  margin-bottom: 20px;
}

.edit{
  background-color: #ffa31a;
}
.delete{
  background-color: #ff0000;
}